@import "tailwindcss";
@plugin "daisyui"; 

/* Hide scrollbar but allow scrolling */

/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html {
  scrollbar-width: none;
}

/* For IE & Edge */
body {
  -ms-overflow-style: none;
}